<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
	id="WebApp_ID" version="5.0">
	<display-name>ExpenseTrackerApplication</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>AddExpenseServlet</servlet-name>
		<servlet-class>com.expensetracker.servlets.AddExpenseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddExpenseServlet</servlet-name>
		<url-pattern>/add-expense</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GetExpensesServlet</servlet-name>
		<servlet-class>com.expensetracker.servlets.GetExpensesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetExpensesServlet</servlet-name>
		<url-pattern>/get-expenses</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddCategoryServlet</servlet-name>
		<servlet-class>com.expensetracker.servlets.AddCategoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddCategoryServlet</servlet-name>
		<url-pattern>/add-category</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GetCategoriesServlet</servlet-name>
		<servlet-class>com.expensetracker.servlets.GetCategoriesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetCategoriesServlet</servlet-name>
		<url-pattern>/get-categories</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteExpenseServlet</servlet-name>
		<servlet-class>com.expensetracker.servlets.DeleteExpenseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteExpenseServlet</servlet-name>
		<url-pattern>/delt-expense</url-pattern>
	</servlet-mapping>
</web-app>